$w:white;
$d:black;
$themeColor:#4FACF7;
body{
    &::-webkit-scrollbar {
        width: 20px;
    }  
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
    }
    &::-webkit-scrollbar-thumb {
        background: $themeColor; 
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $w; 
    }
} 
@mixin hover(){
    transition: 0.5s ease-in-out;   
}
.background {
    background-image: url(../asset/blob-scatter-haikei.svg);    
} 
.box{
    height: 10px;
} 
.card{
    width: 288px;
    max-width: 288px;
    max-height: 100%;
    box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;

    &:hover{
        box-shadow: rgba(255, 255, 255, 0.945) 5px 5px, rgba(45, 31, 235, 0.945) 7px 7px, rgb(255, 255, 255) 10px 10px, rgb(255, 255, 255) 15px 15px, rgba(255, 255, 255, 255) 20px 20px,rgba(45, 31, 235, 0.945) 25px 25px;
    }
    &img{
        max-width: 673px;
    }
} 
.search-web{
    width: 300px;
    background-color: transparent;  
    &:focus-visible{
        width: 900px;
    }
    &::placeholder{
        color: $w;
    }
    &:hover{
    input[type="text"]:hover{
		background-color:$w;     
	}
        @include hover;
    }
}
.add-plus{
    background-color: transparent;
    color: $w;
    &:hover{
        background-color:white;
        color: $d;
    @include hover;
    }
}
#blogEdit{
    display: none;
} 